.addCombatant {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: lightgrey;
  height: 97%;
  width: 50px;
  border: 1px solid #757575;
  border-radius: 6px;
  margin: 0.5rem 0 0.5rem 0.5rem;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  cursor:pointer
}

.addCombatant:hover {
  background-color: #806485;
}

.addCombatant:active {
  box-shadow: none;
}