.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #413344;
  border-radius: 6px;
  height: 85vh;
  width: 450px;
  background-color: rgb(98, 98, 98);
  position: absolute;
  top: 20px;
  left: 200px;
  z-index: 201;
  box-shadow: 3px 3px 10px rgba(0,0,0, 0.6);
}

.header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid black;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: 3px 0 10px rgba(0,0,0, 0.6);
}

.input {
  display: flex;
  justify-self: flex-start;
  width: 100%;
  margin: 1em;
}

.searchResults {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
}

.footer {
  display: flex;
  justify-content: space-between;
  justify-self: flex-end;
  align-items: center;
  height: 75px;
  width: 100%;
  border: 1px solid black;
  box-shadow: -3px 0 10px rgba(0,0,0, 0.6);
}

button {
  height: 3em;
  border-radius: 6px;
  border: none;
  width: 100px;
  margin: 10px;
  box-shadow: 2px 2px 3px rgba(0,0,0, 0.6);
}