.container {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  height: 75%;
  width: 100%;
  border: 1px solid #757575;
  border-radius: 6px;
  margin: 0.5em 1em 0.5em 1em;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.5);
}

.entry {
  display: flex;
  background-color: #91bcdd;
  border: 1px solid #567d99;
  border-radius: 6px;
  padding: 0.5em;
  margin: 1em;
  text-shadow: 1px 1px 3px white;
  box-shadow: 1px 1px 15px -5px rgba(0,0,0,0.5);
  hyphens: auto;
}