.container {
  display: flex;
  flex-direction: column;
  width: 92%;
  align-self: center;
  border: 1px solid red;
}

.title {
  display: flex;
  margin: 0 0 0.5em 0;
  padding: 0;
}

.scoreList {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0.5em 1em 0;
  justify-content: space-between;
}

.scoreContainer {
  display: flex;
  flex-basis: 15%;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  color: #413344;
  text-shadow: 1px 1px black;
  font-weight: bolder;
  margin: 0 0 0 0.3em;
}

.icon {
  display: flex;
  flex-basis: 15%;
  font-size: 50px;
  color: var(--purpleGrey);
  text-shadow: 1px 1px black;
}

