.listContainer {
  display: flex;
  margin: 0 0 0 0.5em;
  height: 100%;
  width: 100%;
  max-width: 70vw;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.listContainer::-webkit-scrollbar {
  display: none;   /* Hide scrollbar for Chrome, Safari and Opera */
}
