.container {
  display: flex;
  flex-direction: column;
  width: 92%;
  margin: 0.5em 0 0.5em 0;
  align-self: center;
}

.list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.title {
  margin: 0;
  padding: 0;
}