.container {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  width: 90%;
  padding: 1%;
  align-self: center;
}

.title {
  display: flex;
  margin: 0;
  padding: 0;
}

.scoreList {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.2em 0.5em 0.2em 0;
  justify-content: space-between;
  backdrop-filter: invert(2%);
}

.scoreContainer {
  display: flex;
  flex-basis: 15%;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  color: #413344;
  text-shadow: 1px 1px black;
  font-weight: bolder;
}

.icon {
  display: flex;
  flex-basis: 15%;
  font-size: 50px;
  color: white;
  text-shadow: 1px 1px black;
}

