.container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0.2rem;
  border-radius: 6px;
  background-color: var(--blueGrey);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  cursor: pointer;
}

.pic {
  height: 100%;
  width: 40px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  object-fit: cover;
  border: 1px solid black;
}

.weaponTag {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.weaponName {
  display: flex;
  margin: 0 0 0 0.5rem;
  padding: 0;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px black;
}

.infoContainer {
  display: flex;
}

.info {
  display: flex;
  margin: 0 0.5rem 0 0.5rem;
  padding: 0;
  font-weight: bolder;
  color: white;
  text-shadow: 1px 1px black;
}