.container {
  display: flex;
  margin:  0.5rem 0 0.5rem 0;
  align-self: center;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: auto;
}

.ac {
  display: flex;
  padding: 10px;
  color: white;
  font-size: 25px;
  text-shadow: 2px 2px black;
  background-color: #567d99;
  border: thick double #640e22;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  margin: 0;
}

.hpBox {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 70px;
  justify-content: center;
  align-items: center;
  color: #640e22;
  text-shadow: 2px 2px #413344;
}

.hp {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: white;
  font-size: 18px;
}

.hpCurrent {
  margin: 0 0.8rem 0 0;
  width: 100%;
  padding: 0 ;
  text-align: left;
}

.hpTotal {
  margin: 0 0.3rem 0 0;
  padding: 0;
  text-align: right;
}

.speedBox {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: var(--greenShade);
  text-shadow: 2px 2px #413344;
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

.speedIcon {
  display: flex;
  background-color: white;
  border: 2px solid var(--greenShade);
  border-radius: 50%;
}

.speed {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: white;
  background-color: var(--greenShade);
  right: 40px;
  padding-right: 2px;
  padding-left: 2px;
  font-size: 20px;
  border-radius: 6px;
}

.initBox {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: var(--stoneBlue);
  text-shadow: 2px 2px #413344;
}

.init {
  display: flex;
  flex-direction: column;
  background-color: var(--blueGrey);
  position: absolute;
  color: white;
  padding: 6px;
  font-size: 25px;
  border: thick double var(--acidGreen);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.descriptor {
  display: flex;
  position: absolute;
  top: 2.7em;
  text-align: center;
  background-color: var(--stoneBlue);
  border: 2px solid var(--stoneBlue);
  border-radius: 6px;
  font-size: 12px;
  font-variant: small-caps slashed-zero;
  color: white;
  text-shadow: 1px 1px black;
  padding-right: 4px;
  padding-left: 4px;
  border: 1px solid var(--acidGreen);
  border-bottom: 1px solid var(--acidGreen);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}