.navContainer {
  display: flex;
  align-items: flex-start;
  height: 100%;
  width: fit-content;
  color: white;
  background-color: var(--purpleBlack);
  box-shadow: 1px 1px 15px 3px rgba(0,0,0,0.5);
}

.icons {
  display: flex;
  flex-direction: column;
  height: 60%;
  margin: 0 1.5em 1em 1.5em;
  justify-content:space-around;
}

.navIcon {
  color: white;
}