.combatantContainer {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 75px;
  justify-content: flex-start;
  background-color: lightgrey;
  border: 1px solid #757575;
  border-radius: 6px;
  margin: 0.5em;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.5);
}

.smallImg {
  object-fit: cover;
  width: 60px;
  height: 60px;
  margin: 1em 5px 1em 5px;
  box-shadow: 1px 0px 5px rgba(0,0,0,0.5);
  border: 2px solid var(--ltPurple);
  border-radius: 6px;
}

.name {
  margin: 0;
  overflow-x: hidden;
  text-align: center;
  text-overflow: ellipsis;
  margin: 0 0.2em 0 0.2em;
  white-space: nowrap;
}

.expandContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  height: 100%;
  width: 350px;
  min-width: 350px;
  background-color: lightgrey;
  border: 1px solid #757575;
  border-radius: 6px;
  margin: 0.5em;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.5);
}

.expandImg {
  width: 100px;
  height: 100px;
  margin: 1em;
  object-fit: cover;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.5);
  border: 2px solid var(--ltPurple);
  border-radius: 6px;
}

.charCard {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #395e77;
  box-shadow: 1px 1px 5px #395e77;
}

.charName {
  margin: 0 0 0.2em 0;
}

.charBg {
  margin: 0 0 0.2em 0;
  color: #757575;
}

.charClass {
  margin: 0 0 0.2em 0;
  color: #757575;
}

.alignment {
  margin: 0;
  color: #757575;
}

.charInfo {
  display: flex;
  flex-direction: column;
  margin: 1em 1em 1em 0;
  height: fit-content;
  text-align: center;
}

.achp {
  display: flex;
  margin: 0 1em 0 1em;
  align-items: center;
}

.ac {
  display: flex;
  padding: 10px;
  color: white;
  font-size: 25px;
  text-shadow: 2px 2px black;
  background-color: #567d99;
  border: thick double #640e22;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.hpBox {
  display: flex;
  flex-direction: column;
  background-image: url('https://images.rawpixel.com/image_png_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvcm0yMzViYXRjaDItbm9vbi0yNmEucG5n.png?s=wGdr6YF1oVTJnDgpf3Uz4yggH0wV84Z7HzDNJIzc0RU');
  background-size:cover;
  width: 75px;
  height: 70px;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px black;
  margin: 0 0.5em 0 0.5em;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
}

.hp {
  display: flex;
  margin: 0 0.3em 0 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hpNums {
  display: flex;
  font-size: 20px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}