.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  border: 1px solid blue;
  margin: 0.5em 1em 0.5em 1em;
  overflow-x: scroll;
}

.list {
  display: flex;
  border: 1px solid red;
  width: 100%-2px;
}

.title {
  margin: 0;
  padding: 0;
}