.container {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 85px;
  margin: 0.5em 1em 0.5em 1em;
  overflow-x: scroll;
  align-self: center;
}

.list {
  display: flex;
  width: 100%
}

.title {
  margin: 0;
  padding: 0;
}