.container {
  display: flex;
  width: 100%;
  border: 1px solid #757575;
  border-radius: 6px;
  margin: 1em;
  background: var(--burgundy);
  box-shadow: -1px 1px 15px 3px rgba(0,0,0,0.5);
  z-index: 1;
}